/* styles/globals.css */
body,
html {
    margin: 0;
    padding: 0;
    background-color: #9fbbccd4;
    font-family: Arial, sans-serif;
}

.chat-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #D1D5DB;
    /* Softer border color */
    padding: 20px;
    margin: 10px auto;
    background-color: #ffffff;
    /* Pure white background for contrast */
    width: 80%;
    max-width: 800px;
    min-height: 500px;
    overflow: auto;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    /* Added a subtle box shadow */
}

.intro-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.4em;
    /* Made the header font slightly larger */
    color: #333333;
}

.intro-header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #000000;
}

.intro-header p {
    font-size: .9em;
}



.message {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f9f9f9;
}


.user {
    align-self: flex-end;
    background-color: #366496;
    color: #fff;
}

.ai {
    align-self: flex-start;
    background-color: #afc6d487;
}



.textarea-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea-style {
    width: 400px;
    height: 90px;
    margin: 10px;
    padding: 10px;
}

img {
    max-width: 300px;
    max-height: 300px;
    height: auto;
    margin: 0 auto;
    flex-shrink: 0;
    /* Prevent the image from shrinking */
}


.initial-message {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}



.initial-message p {
    word-wrap: break-word;
    padding: 5px;

}

@media screen and (min-width: 600px) {
    .initial-message {
        max-width: 80%;
    }
}

@media screen and (min-width: 900px) {
    .initial-message {
        max-width: 60%;
    }
}

.typing-message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.typing-message p {
    margin-right: 10px;
}

.typing-animation {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #999;
    border-right-color: transparent;
    animation: spinner 0.75s linear infinite;
}


.typing-text:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}


@keyframes dots {

    0%,
    20% {
        content: ' .';
    }

    40% {
        content: ' ..';
    }

    60% {
        content: ' ...';
    }

    80%,
    100% {
        content: '';
    }
}

.submitbtn {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.submit-button {
    padding: 10px 20px;
    /* Adjust this value to what suits you best */
    font-size: 20px;
    /* Adjust this value to what suits you best */
    background-color: #366496;
    /* Change this to your preferred color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #274d6d;
    /* Darker shade of the button color */
}

.submit-button:active {
    background-color: #1a3340;
    /* Even darker shade */
}

.introMsg {
    display: flex;
    justify-content: center;
}

.imgNote {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #366496;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 100px;
    margin-bottom: 0px;
    bottom: 0;
    width: 100%;
}

.main-content {
    min-height: calc(100vh - 36px);
    /* Other styles... */
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.chat-box {
    flex-grow: 1;
}